<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documents</title>
</head>
<body>

  <div class="text-center">
    <div class="mb-3">
  <label for="formFile" class="form-label">Upload Resume</label>
  <input class="form-control" type="file" id="formFile">
</div>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label">Upload Academic Transcript</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>

<div class="mb-3">
  <label for="formFileMultiple" class="form-label">Upload Post Qualification</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>
  
<!-- <div class="mb-3">
  <label for="formFileDisabled" class="form-label">Disabled file input example</label>
  <input class="form-control" type="file" id="formFileDisabled" disabled>
</div> -->

<!-- <div>
  <label for="formFileLg" class="form-label">Large file input example</label>
  <input class="form-control form-control-lg" id="formFileLg" type="file">
</div> -->
  </div>
  
  
</body>
</html>