<!DOCTYPE html>
<html>
  <head>
    <title>Tutor++</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #teacher1{
        height: 360px;
        width: 100%;
        object-fit:cover;
      }
    </style>
  </head>
  
  <body>
    {% include 'nav.html' %}
  
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{ company_name }}</h1>

      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <img class="img-fluid" id="teacher1" src="https://technopolis.mthetho.repl.co/static/banner(1).jpg" height="500" width="1500">
      </div>
      
        
        <h2 class="text-center mt-2 mb-4">Fall In Love With Learning Again!</h2>
      <p class='lead'>
        <em>
          Welcome to the tutor application portal for Durban University of Technology. We are excited that you are interested in becoming a tutor and helping your fellow students succeed academically.
    
    At Tutor++, we value the contributions of our tutors and recognize the important role they play in supporting our students' academic success. As a tutor, you will have the opportunity to work one-on-one with students, develop your teaching skills, and make a meaningful impact on the lives of others.
    
    To apply to become a tutor, please complete the online application form and provide a current resume, transcript, and letter of recommendation from a faculty member or academic advisor. We are looking for applicants who have a strong academic record, excellent communication skills, and a passion for helping others learn.
    
    Once your application is submitted, it will be reviewed by our tutoring program staff. If you meet our qualifications and needs, you will be contacted for an interview. After the interview process is complete, selected candidates will be offered a tutoring position.
        </em>
      
<h3 class="text-center mt-2">Open Positions</h3>
        <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
    </div>
      
    <h3 class="text-center mt-2 mb-4">About Us</h3>
      <div>
      <p class="lead">
        <em>
          Get ready to revolutionize the way you learn with Tutor++! Packed with an array of features such as personalized tutoring sessions, virtual study groups, and a library of educational resources, this app is your ultimate academic companion. Connect with experienced tutors and peers from anywhere and receive the support you need to excel in your studies.<br/>

Designed with simplicity and ease of use in mind, our web app offers an intuitive interface that enables you to access the features you need with just a few clicks. What's more, it offers personalized recommendations based on your learning style and academic goals, ensuring a tailor-made learning experience that meets your specific needs.<br/>

We believe that everyone deserves access to quality education, which is why our web app is designed to be accessible to all students, regardless of their background or experience level. Whether you're a first-year student struggling to keep up with coursework or a seasoned senior looking for some extra help, our app has got you covered.<br/>

Say goodbye to the days of struggling through your studies alone. Sign up today and unlock your true academic potential!
        </em>
      </p>
      <div class="rounded mx-auto d-block">
        <img class="img-fluid" src="https://technopolis.mthetho.repl.co/static/teacher3.jpg" style="heigh:320px">
      </div>
        


      {% include 'footer.html' %}
  </body>

</html>

